/* Estilos Gerais */
body {
    display: flex; /* Flexbox para o layout */
    flex-direction: column; /* Organiza o conteúdo em uma coluna */
    min-height: 100vh; /* Garante que o corpo tenha no mínimo a altura da tela */
    margin: 0; /* Remove a margem padrão do body */
}

footer {
    background-color:#003366; /* Cor de fundo do rodapé */
    color: #003366; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    position: relative; /* Define o rodapé no final da página */
    width: 100%; /* Preenche toda a largura */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte */
    padding: 15px 0; /* Espaçamento interno */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar o rodapé */
}

.footer-text {
    font-size: 15px; /* Tamanho da fonte */
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-align: left;
    margin-left: 20px;
}

/* Responsividade: Em telas pequenas */
@media (max-width: 600px) {
    .footer-text {
        font-size: 12px; /* Reduz o tamanho da fonte em telas pequenas */
    }
}

