/* Estilo do título */
.header {
    background-color: #003366; /* Azul escuro */
    padding: 5px 0;
    height: 100px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    z-index: 1;
}
h1{
    text-align: left;
    margin-top:15px;
}
.titulo {
    font-size: 3rem;
    color: #ffffff;
    margin-left: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
    text-decoration: none;
}

/* Estilo do formulário */
#search-form {
    display: flex;
    justify-content: end;
    align-items:end;
    margin-top: -80px;
    margin-right: 30px;
}

/* Estilo do campo de entrada de texto */
#player-name {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border:2px solid #003366;    
    border-radius: 50px;
    outline: none;
    transition: border-color 0.3s ease;
}
